{% extends 'base.html.twig' %}

{% block title %}Chaton index{% endblock %}

{% block body %}
    <h1>Chaton index</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Photo</th>
                <th>Catégorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chaton in chatons %}
            <tr>
                <td>{{ chaton.id }}</td>
                <td>{{ chaton.Nom }}</td>
                <td>{{ chaton.categorie.titre }}</td>
                <td>{{ chaton.Photo }}</td>
                <td>
                    <a href="{{ path('app_chatons_show', {'id': chaton.id}) }}" class="btn btn-warning">show</a>
                    <a href="{{ path('app_chatons_edit', {'id': chaton.id}) }}" class="btn btn-dark">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chatons_new') }}" class="btn btn-dark">Ajouter</a>
{% endblock %}
