{% extends 'base.html.twig' %}

{% block title %}Chaton{% endblock %}

{% block body %}
    <h1>Chaton</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chaton.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ chaton.Nom }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ chaton.Photo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_chatons_index') }}">back to list</a>

    <a href="{{ path('app_chatons_edit', {'id': chaton.id}) }}">edit</a>

    {{ include('chatons/_delete_form.html.twig') }}
{% endblock %}
